<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MachineDao">
    <resultMap id="BaseResultMap" type="com.onchain.projects.domain.Machine">
        <result column="now_date" property="date"/>
        <result column="node_ip" property="node_ip"/>
        <result column="cpu_usedPer" property="cpuUsedPer"/>
        <result column="mem_usedPer" property="memUsedPer"/>
        <result column="dis_usedPer" property="disUsedPer"/>
    </resultMap>

    <insert id="storeMachineInfo" parameterType="com.onchain.projects.domain.Machine">
        insert into tbl_pro_machine(now_date,node_ip,cpu_usedper,mem_usedper,dis_usedper)
        VALUES (#{date}, #{node_ip}, #{cpuUsedPer}, #{memUsedPer}, #{disUsedPer})
    </insert>

    <delete id="delMachineInfo" parameterType="java.lang.String">
        delete from tbl_pro_machine
        where node_ip = #{ip}
        order by now_date
        limit 1
    </delete>

    <delete id="delMachineInfoOra" parameterType="java.lang.String">
        delete from tbl_pro_machine
        where node_ip = #{ip}
        and now_date =
        (select a.now_date
        from
        (select * from tbl_pro_machine where node_ip = #{ip} order by now_date)a
        where rownum = 1
        )
    </delete>

    <select id="getMachineInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from tbl_pro_machine
        where node_ip = #{ip}
        order by now_date desc
        limit 360
    </select>

    <select id="getMachineInfoOra" parameterType="java.lang.String" resultMap="BaseResultMap">
        select a.*, rownum rn
        from (select * from tbl_pro_machine where node_ip = #{ip} order by now_date desc ) a
        <![CDATA[
        where rownum <= 360
        ]]>
    </select>

    <select id="getMachineInfoNum" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1)
        from  tbl_pro_machine
        where node_ip = #{ip}
    </select>

</mapper>